doctype html
html
    head
        meta(charset="utf-8")
        title= title
        link(href="./public/css/style.css" rel="stylesheet")
    body
        h1= header
        article
            h2= name
            figure 
                img(src="/img/cat.jpg")
            p= age
            p= weight
        script(src="/js/main.js")    


